footer
  script(type='text/javascript', src='https://free-hit-counters.net/count/5cd0')
  br
  a(href='https://xn--besucherzhler-counter-e2b.com/') Besucherstatistiken
  script(type='text/javascript', src='https://www.whomania.com/ctr?id=e87cec7c78af80755ebaa67367932b98115f3ccb')
