header
  ul

    li
      a(href='/total')
        i.home.icon Total
    li
      a(href='/deathChart')
        i.chart.line.icon Region 
    li
      a(href='/')
        i.calendar.icon Daily
    li
      a(href='/deaths')
        i.ambulance.icon Deaths
    li
      a(href='/chat')
        i.user.icon Chat      







  .heading CORVID
