header
  ul

    li
      a(href='/total')
        i.home.icon Total    
    li
      a(href='/')
        i.calendar.icon Timeline
    li
      a(href='/deaths')
        i.ambulance.icon Deaths
         


  .heading CORVID
