header
  ul
    li
      a(href='/total')
        i.home.icon
    li
      a(href='/')
        i.table.icon
    li
      a(href='/deaths')
        i.ambulance.icon        


  .heading CORONAVIRUS UK LIVE TRACKER
