header
  ul
    li
      a(href='/total')
        i.home.icon
    li
      a(href='/')
        i.calendar.icon
    li
      a(href='/deaths')
        i.heartbeat.icon        


  .heading CORONAVIRUS UK LIVE TRACKER
