extends base


block content
  
  .log-form
    h2 Login to your account
    form.login
      input(type='text' id='email' placeholder='email ')
      input(type='password' id='password' placeholder='password')
      button.btn(type='submit') Login
      a.signup(href='/signup') Sign Up
      a.forgot(href='#') Forgot Password?



