extends base


block content  
  .log-form
    h2 Register your account
    form.signup
      input(type='text' id='name' placeholder='name ')
      input(type='text' id='email' placeholder='email ')
      input(type='password' id='password' placeholder='password')
      input(type='password' id='passwordConfirm' placeholder='confirm password')
      button.btn(type='submit') Signup



